* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0;
}

header {
  background-color: #F15B31;
  color: #FFFFFF;
  padding: 30px 20px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  color: #0D2C40;
  font-family: "Ralway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

a {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0 20px;
  text-decoration: none;
}

p {
  font-family: "Droid Serif", serif;
  font-size: 18px;
  line-height: 26px;
  padding: 0 10px;
}

nav {
  background-color: #00A6B3;
  color: #FFFFFF;
  padding: 20px 0;
}

main {
  margin: 35px auto;
  /* width: 850px; */
  padding-bottom: 30px;
}

footer {
  background-color: #0D2C40;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .08em;
  padding: 0 20px;
  text-transform: uppercase;
  /* Make footer stay on bottom regardless of window height */
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}

footer p {
  font-family: "Raleway", sans-serif;
}

.credit-copyright {
  float: left;
}

.credit-message {
  float: right;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height:0;
  visibility: none;
}

.credit-name {
  color: #F15B31;
  font-weight: 700;
}

a:hover {
  /* border:2px solid #FFFFFF; */
  outline:2px solid #FFFFFF;
}

.game-board {
  margin: 10px 0;
}

.reset-button {
  display: inline-block;
  background-color: #F15B31;
  opacity: .9;
  border-radius: 6px;
  padding: 10px;
  font-family: "Ralway", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #FFF;
}

.card {
  margin: 8px;
  border-radius: 5px;
}

.card-back {
  filter: grayscale(70%)
}

.card-selected {
  box-shadow: 0 0 2em #FF3E03;
  background-color: #00ABB6;
}
.card-matched {
  opacity: .7;
  filter: blur(2px);
}

.score-container {
  font-family: 'Josefin Slab', serif;
  font-size: 17px;
}

.score-header {
  display: inline-block;
  font-family: "Ralway", sans-serif;
}

.score-value {
  font-size: 20px;
}
.score-goal {
  font-size: 18px;
}

.difficulty-container {
  padding: 10px 0;
}

.difficulty-button {
  display: inline-block;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #F15B31;
  color: #FFF;
  opacity: .4;
  font-family: "Ralway", sans-serif;
}
.difficulty-easy {
  /* filter: hue-rotate(0deg); */
  filter: hue-rotate(120deg)
}

.difficulty-normal {
  /* filter: hue-rotate(120deg); */
  filter: hue-rotate(0deg)
}

.difficulty-hard {
  /* filter: hue-rotate(240deg); */
  filter: hue-rotate(-120deg)
}

.difficulty-active {
  transform: scale(1.2);
  opacity: 1;
}