* {
  box-sizing: border-box;
}
  h1 {
  /* color: #0D2C40; */
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  color: #0D2C40;
  font-family: "Ralway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

a {
  /* color: #F15B31; */
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0 20px;
  text-decoration: none;
}

p {
  font-family: "Droid Serif", serif;
  font-size: 18px;
  line-height: 26px;
}

body {
  text-align: center;
  margin: 0;
}

header {
  background-color: #F15B31;
  color: #FFFFFF;
  padding: 30px 20px;
}

nav {
  background-color: #00A6B3;
  color: #FFFFFF;
  padding: 20px 0;
}

main {
  margin: 35px auto;
  width: 850px;
  padding-bottom: 27px; /* offset height of footer when positioned fixed. 27px + the 35px margin on the images*/
}

img {
  margin: 8px;
}

footer {
  background-color: #0D2C40;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .08em;
  padding: 0 20px;
  text-transform: uppercase;
  /* Make footer stay on bottom regardless of window height */
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}

footer p {
  font-family: "Raleway", sans-serif;
}

.copyright {
  float: left;
}

.message {
  float: right;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height:0;
  visibility: none;
}

.name {
  color: #F15B31;
  font-weight: 700;
}

a:hover {
  /* border:2px solid #FFFFFF; */
  outline:2px solid #FFFFFF;
}

.game {
  margin: 40px 0;
}

.reset-button {
  display: inline-block;
  background-color: rgba(255, 62, 3, .75);
  border-radius: 6px;
  padding: 10px;
  font-family: "Ralway", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #FFF;
}