h1 {
  color: #0D2C40;
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  color: #0D2C40;
  font-family: "Ralway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

a {
  color: #F15B31;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
}

p {
  font-family: "Droid Serif", serif;
  font-size: 18px;
  line-height: 26px;
}

body {
  text-align: center;
  margin: 0;
}

header {
  background-color: #F15B31;
  color: #FFFFFF;
  padding: 30px 20px;
}