h1 {
  /* color: #0D2C40; */
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  color: #0D2C40;
  font-family: "Ralway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

a {
  /* color: #F15B31; */
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0 20px;
  text-decoration: none;
}

p {
  font-family: "Droid Serif", serif;
  font-size: 18px;
  line-height: 26px;
}

body {
  text-align: center;
  margin: 0;
}

header {
  background-color: #F15B31;
  color: #FFFFFF;
  padding: 30px 20px;
}

nav {
  background-color: #00A6B3;
  color: #FFFFFF;
  padding: 20px 0;
}

main {
  margin: 35px auto;
  width: 850px;
}

img {
  margin: 40px 8px 0;
}

footer {
  background-color: #0D2C40;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .08em;
  padding: 0 20px;
  text-transform: uppercase;
}

footer p {
  font-family: "Raleway", sans-serif;
}

.copyright {
  float: left;
}

.message {
  float: right;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height:0;
  visibility: none;
}

.name {
  color: #F15B31;
  font-weight: 700;
}